`InsecureKeyLengthWarning` after upgrade to `pyjwt` 2.11.0

After upgrading to `pyjwt` 2.11.0, `InsecureKeyLengthWarning`s are now displayed:

```
.venv/lib/python3.13/site-packages/jwt/api_jwt.py:153: InsecureKeyLengthWarning: The HMAC key is 24 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.
  return self._jws.encode(

.venv/lib/python3.13/site-packages/jwt/api_jwt.py:371: InsecureKeyLengthWarning: The HMAC key is 24 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.
  decoded = self.decode_complete(
```

## Upstream
 
- https://pyjwt.readthedocs.io/en/stable/usage.html#key-length-validation
- https://pyjwt.readthedocs.io/en/stable/algorithms.html#minimum-key-length-requirements
- Change: https://github.com/jpadilla/pyjwt/commit/96ae3563b9db8f5e18621c4d612f622cf476c92b